body{
    width: 100%;
    margin: 0;
    background-image: url(./photo/bg4.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Forum', cursive;
}

#a{
    width: 10%;
    background-color: #dde4e5;
    margin: 40px;
    padding: 10px;
    padding-bottom: 50px;
    float: left;
    position: fixed;
}

h1{
    text-align: center;
}


a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #b1b1b1;
}

li{
    list-style-type: none;
}

#photo{
    margin-left: 20%;
}

img{
    width: 100%;
}

.one{
    background: #dde4e5;
    width: 30%;
    margin: 20px;
    padding: 20px;
    padding-bottom: 50px;
    margin-left: 100px;
    float: left;
    opacity: 0.9;
}

.two{
    background: #dde4e5;
    width: 30%;
    margin: 20px;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-right: 110px;
    opacity: 0.9;
    float: right;
}