body {
    width: 100%;
    margin: 0;
    background-image: url(./photo/bg5.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Forum', cursive;
}


/*.slabtexted .slabtext{
    display:-moz-inline-box;
    display:inline-block;
    white-space:nowrap;
}

.slabtextinactive .slabtext {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: 0 !important;
    *word-spacing: 0 !important;
}

.slabtextdone .slabtext {
    display: block;
    line-height: 0.9;
}*/

#a {
    width: 10%;
    background-color: #c6d4d6;
    margin: 3%;
    margin-right: 4%;
    padding: 1.5%;
    padding-bottom: 3%;
    float: left;
    position: fixed;
    opacity: 0.9;
}

h1 {
    text-align: center;
}

.link {
    margin: 0 auto;
    padding-left: 30%;
    padding-top: 10%;
}

a {
    text-decoration: none;
    text-align: center;
    line-height: 1.5em;
    color: #000;
    display: table-cell;
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

a:hover {
    color: #c4c4c4;
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}

#photo {
    margin-left: 20%;
}

img {
    width: 100%;
}

.one {
    background: /*#dee7e8*/#c6d4d6;
    width: 30%;
    margin: 5%;
    padding: 2%;
    padding-bottom: 5%;
    margin-left: 10%;
    float: left;
    opacity: 0.9;
}

.two {
    background: #c6d4d6;
    width: 30%;
    margin: 5%;
    padding: 2%;
    padding-bottom: 5%;
    padding-top: 2%;
    margin-right: 5%;
    opacity: 0.9;
    float: right;
}

#b {
    width: 50px;
    height: 50px;
    right: 3%;
    bottom: 3%;
    transition: 0.3s;
    text-decoration: none;
    position: fixed;
    margin-left: auto;
    font-size: 40px;
}

.c {
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
    width: 50px;
    height: 50px;
}